<div class="container">
  
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>What is...</h2>
      <h1><%= @person.full_name %></h1>
      <h3 class="hidden answer"><%= @real_bio.pluck(:text)[0] %></h2>
      <h2>known for?</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= simple_form_for @person, :html => { :multipart => true }, remote: true do |f| %>
        <%= f.association :bios, collection: @bios, label_method: :text, as: :radio_buttons, :input_html => {
        :value => :bio_id,
        :name => "person[bio_id]"
      } %>
        <%= f.hidden_field :person_id, :value => @person.id %>
        <%= f.hidden_field :user_id, :value => @user.id %>
        <%= f.submit "Submit Answer", class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="next-person-link">
        
      </div>
    </div>
  </div>

</div>